<%# チャット画面ヘッダー %>
<div class="chat-header">
  <div class="current-room">
    <%= @room.name %>
  </div>
  <div class="chat-edit">
    <div class="chat-edit-btn"><a href="#">チャットを終了する</a></div>
  </div>
</div>
<%# チャット画面メッセージ %>
<div class="chat-messages">
    <%= render partial: 'message', collection: @messages %>
</div>
<%# チャット画面フォーム %>
<div class="chat-form-wapper">
  <%= form_with model: [@room, @message], class: "chat-form", local: true do |f| %>
    <%= f.text_field :content, placeholder: "type a message", class: "chat-form_text" %>
    <label class="form-image">画像
      <%= f.text_field :image, class: "hidden" %>
    </label>
    <%= f.submit "送信", class: "chat-form_send" %>
  <% end %>
</div>